
.footer {
    background-color: #ffffffca;
    border-top: 1px solid #ddd;
    padding : 0px 80px;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    margin: 20px 0px;
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #666;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #000;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    border-top: 1px solid #ddd;
    color: #666;
    padding: 20px 0px;
}

.footer-bottom-left span,
.footer-bottom-left a {
    margin-right: 15px;
    text-decoration: none;
    color: #666;
}

.footer-bottom-left a:hover {
    color: #000;
}

.footer-bottom-right a {
    margin-left: 15px;
    text-decoration: none;
    color: #666;
}

.footer-bottom-right a img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.footer-bottom-right a:hover {
    color: #000;
}
