
.header {
  display: flex;
  flex-wrap: wrap; /* Cho phép các hộp tự xuống dòng */
  justify-content: center; /* Căn giữa các hộp theo chiều ngang */
  align-items: center; 
  padding: 0px 80px 0px 80px;
  line-height: 20px;
  width: 1359px;
  height: auto;
  padding-bottom: 22px;
  border-bottom: 1px solid #ddd; /* Màu viền */
  position: fixed; /* Cố định vị trí header */
  top: 0; /* Đặt ở đầu trang */
  left: 0; /* Canh bên trái */
  z-index: 9999; /* Đảm bảo header luôn nằm trên các thành phần khác */
  background-color: #fff;
}

/* Header khi thu gọn */
.header.shrink {
  height: 60px; /* Giảm chiều cao */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Tạo đổ bóng */
}
.thanh-tim-kiem {
  transition: all 0.3s ease;
}

.trai-nghiem {
  transition: all 0.3s ease;
}

/* Ẩn nội dung trong mục tìm kiếm */
.header.shrink .noi-dung {
  display: none; /* Ẩn nội dung */
}

/* Phần trai-nghiem khi cuộn */
.header.shrink .trai-nghiem {
  display: none; /* Ẩn trai-nghiem */
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.khach{
  font-size: 12px;
  font-weight: 500;
}

.header.shrink .tieu-de{
  width: 70px;
  margin: 5px;

}
.header.shrink .khach {
  width: 120px;
  font-size: 14px;
  font-weight: 500;
  padding:0px;
  text-align: center;
}

.header.shrink .khach-noi-dung {
  width: 200px;
  text-align: center;
}

.header.shrink .tra-phong  {
  padding : 0px;
  text-align: center;
}

.header.shrink .nhan-phong {
  padding : 0px ;
  text-align: center;
}

.header.shrink .dia-diem {
  padding : 0px ;
  text-align: center;
}



.header.shrink .thanh-phan-cach {
  height:15px;
}
