.room-list{
    margin: 16PX 0PX 48px 0px;
    padding: 0 80px;
    display: flex; /* Kích hoạt Flexbox */
    flex-wrap: wrap; /* Cho phép các phần tử xuống dòng khi không đủ không gian */
    gap: 25px; /* Khoảng cách giữa các phần tử */
    justify-content: flex-start; /* Sắp xếp phần tử từ trái sang phải */
    align-items: flex-start; /* Căn phần tử theo trục dọc */
}
.property-card {
    width: 320px;
    height: 405px;
}

.image-container {
    position: relative;
}

.property-image {
    width: 325px;
    height: 305px;
    border-radius:10px;
    object-fit: cover;
}

.heart-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.heart-icon svg {
    fill: rgba(0, 0, 0, 0.5);
    width: 24px;
    height: 24px;
}

.property-details {
    margin-top: 5px;
}

.property-details p {
    margin: 4px 0;
    color: #333;
}

.property-location {
    font-weight: bold;
}

.property-price {
    color: #ff5a5f;
    font-weight: bold;
}
