.inspiration-section {
    margin: 20px 0px 0px 0px;
    padding: 48px 80px;
    background-color: #f7f7f7;
    text-align: left;
}

.section-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    padding: 10px;
}

.tab-menu {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
}

.tab {
    font-size: 14px;
    color: #6a6a6a;
    cursor: pointer;
}

.tab.active {
    color: #222;
    font-weight: bold;
    border-bottom: 2px solid #000;
    padding-bottom: 16px;
}

.divider {
    border: none;
    border-top: 1px solid #ddd;
    margin: 0 20px;
}

.location-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    margin: 20px 0;
}

.location-item {
    font-size: 14px;
    line-height: 1.6;
}

.location-item strong {
    color: #222;
}

.location-item p {
    color: #6a6a6a;
    margin: auto;
}

.show-more {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: #222;
    cursor: pointer;
}

